
:root {
	--blue: rgb(3, 169, 244); /*#03a9f4*/
	--light-blue: rgb(199, 219, 252);/*#c7dbfc*/
	--gray-back: rgb(241, 241, 241); /* #f1f1f1 */
	--gray: #999999;
	--dark-gray: rgb(34, 34, 34); /*#222222*/
	--yellow: rgb(255, 236, 33);
	--accent-one: rgb(252, 252, 0); /*#fcfc00*/
	--logo: 'Anton', sans-serif;
	--font-2: 'Khula', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Bai Jamjuree', sans-serif;
}
body, html {
  height: 100%;
}

a {
	color: ;
}
a:hover {
	color:  rgb(252, 252, 0) !important;
	color: var(--accent-one) !important;
}
hr {
	background:  rgb(241, 241, 241);
	background: var(--gray-back);
}

/*---------- SETUP END----------*/
header {
	height: 90% !important;
}
/*---------- NAVIGATION ----------*/
.navbar{
	background: rgba(224, 224, 224, 0.7) !important;
}
.navbar-brand{
	color: rgb(34, 34, 34) !important;
	color: var(--dark-gray) !important;
	text-shadow: 3px 3px  #fff, -2px -2px  rgb(252, 252, 0);
	text-shadow: 3px 3px  #fff, -2px -2px var(--accent-one);
	font-family: 'Anton', sans-serif;
	font-family: var(--logo);
	text-transform: uppercase;
	font-size: 23px;
	letter-spacing: 1px;
}
.nav-link {
	color: rgb(34, 34, 34) !important;
	color: var(--dark-gray) !important;
	margin-right: 10px;
	letter-spacing: 2px;
	font-size: 13px;
	font-weight: bold;
}
.navbar-toggler {
   background-color: ;
}
.navbar:not(.top-nav-collapse) {
   background: transparent !important;
}
.nav-item {
	margin: 0px 10px;
}

/*---------- HOME ----------*/
.bg-overlay {
	background: rgba(224, 224, 224, 0.8);
}
.bg {
  background-image: url("images/mount.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.web-title {
	text-align: center;
	color:  rgb(252, 252, 0);
	color: var(--accent-one);
	font-size: 4em;
	font-family: 'Anton', sans-serif;
	font-family: var(--logo);
	text-shadow: 1px 1px rgb(34, 34, 34);
	text-shadow: 1px 1px var(--dark-gray);
	letter-spacing: 2px;
	text-transform: uppercase;
}
@media (max-width: 500px) {
	.web-title {
		font-size: 2em;
	}
}
.intro {
	font-family: 'Khula', sans-serif;
	font-family: var(--font-2);
	text-transform: uppercase;
	letter-spacing: 2px;
}
.btn-round {
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	font-weight: bold;
}
.btn-color_1 {
	color: #fff;
	background-color:  rgb(34, 34, 34);
	background-color: var(--dark-gray);
}

/*---------- COLOUR BOX ----------*/

.sect {
	padding: 80px 0px;
}

.btn-color_2 {
	color:  rgb(34, 34, 34) !important;
	color: var(--dark-gray) !important;
	background-color: #fff;
}

/*-----------*/

.color-bg {
	background: rgb(34, 34, 34);
	background: var(--dark-gray);  
	color: #fff;
}
.color-bg_title {
	font-family: 'Anton', sans-serif;
	font-family: var(--logo);
	text-transform: uppercase;
}
.color-bg_text {
	font-family: 'Khula', sans-serif;
	font-family: var(--font-2);
	text-transform: uppercase;
}
.sect-title {
	font-family: 'Anton', sans-serif;
	font-family: var(--font-2);
	font-size: 40px;
	font-weight: 200;
	margin-top: 20px;
	margin-bottom: 80px;
	text-transform: uppercase;
}
.pro-name {
	color:  rgb(34, 34, 34);
	color: var(--dark-gray);
	font-family: 'Anton', sans-serif;
	font-family: var(--logo);
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.place-text {
	word-spacing: 2px;
	margin-bottom: 50px;
	line-height: 30px;
}
.responsive-sect {
	margin-top: 100px;
	font-size: 17px;
	margin-bottom: 70px;
}
.list {
	line-height: 38px;
	padding: 0px 30px;
}

/*---------- SKILLS END ----------*/

.project-outer {
	background: #fff;
	padding: 10px;
	margin-bottom: 20px;
}

.square-img {
   width: 150px; 
   height: 150px;
   text-align: center;
}


.content {
 	position: relative;
 	margin-top: 20px;
}

.small-img {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .3s ease;
}

.content:hover .overlay {
  top: 0;
  height: 100%;
}

.over-text {
	color: #000;
	font-size: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	font-weight: 200;
}
.overlay-title {
	font-size: 20px;
}
.bord {
   border: 3px solid rgb(255, 236, 33) !important;
   padding: 2px;
}

/*---------- PROJECTS END ----------*/
.margin-gap {
	margin: 50px 0px;
}
.card {
	margin-top: 10px;
	height: 500px;
}
.bg-colour1 {
	background: linear-gradient(45deg, rgba(244, 67, 54, 0.7), rgba(233, 30, 99, 0.7), rgba(156, 39, 176, 0.7),rgba(63, 81, 181, 0.7), rgba(3, 169, 244, 0.7));/*Standard syntax */ 
	background: rgb(255, 236, 33); 
}
.parent-rainbow_div {
	height: 50%;
}
.child-rainbow_div {
	height: 40% !important;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.team-card {
	padding: 15px 0px;
}
.parent-rainbow_div .card-img {
	border: 3px solid #fff;
	position: relative;
	top: 50%;
	bottom: 50%;
}
.card-text {
	position: relative;
}
.card-text h4 {
	font-family: var(--logo);
}
.card-text h5 {
	font-family: var(--logo);
	color:  rgb(34, 34, 34);
	color: var(--gray, #999999);
}
.social {
	background-color:  rgb(34, 34, 34);
	background-color: var(--dark-gray);
	border-radius: 50px !important;
}
/*---------- SOCIAL END ----------*/

.contact {
	margin-top: 80px;
}
.contact-left {
}
.contact-left_write {
	letter-spacing: 1px;
	line-height: 30px;
}
input[type=text], select {
	width: 100%;
	padding: 10px 20px;
	margin: 3px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.input-area {
	margin-bottom: 20px;
}
textarea {
	width: 100%;
	height: 100px;
	padding: 14px 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	font-size: 16px;
}
button[type=submit] {
	width: 100%;
	background-color:  rgb(34, 34, 34);
	background-color: var(--dark-gray);
	color: white;
	padding: 10px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}
button[type=submit]:hover {
	color:  rgb(252, 252, 0);
	background-color: var(--accent-one);
}


/*---------- FOOTER START ----------*/

.foot {
	background: var(--gray-back );
	color:  rgb(34, 34, 34);
	color: var(--dark-gray);
	font-size: 12px;
	padding: 40px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.foot_data {
	padding: 50px 10px;
}
.foot-bottom {
	background: #000; 
	text-align: center;
	color:  rgb(34, 34, 34);
	color: var(--dark-gray);
}



